html {
  background-color: #0f0e17;                 /* required */
  background-image: url("assets/background.png"); /* your corrected path */
  font-family: Tahoma, sans-serif;           /* required */
  font-size: 16px;                           /* required */
  color: #a7a9be;                            /* required */
}
h1 {
  font-size: 3.5rem;     /* 3.5× root */
  color: #fffffe;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}




/* no touchy */
ul, ol {
  padding-left: 40px;
}
